h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 3rem 0;
}

th>i, h2{
  font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

th{
   background-color: rgba(255,255,255,0.3);
}

td{
  letter-spacing: 1px;
}

@media only screen and (max-width: 425px) {
   h2{
    font-size: 1.5rem;
  }
}